@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Shadows Into Light", cursive;
}
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    
    
}
header{
    background-color: #E6E6FA;
    height: 100vh;
    width: 15vw;
}
main{
    background-color: #FFFFFF;
    height: 100vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
}
.introduction{
    height:70vh;
    width: 85vw;
    background-color: white;
}
.skills{
    height: 10vh;
    width: 85vw;
    background-color: #E6E6FA;
}
.sociallinks{
    height:20vh ;
    width: 85vw;
    background-color: white;
}
header nav ul{
    text-align: center;
}
header nav ul li{
    font-size: 3vh;
    
    color: #2F4F4F;
    line-height: 6vh;
}
header nav ul li a{
    text-decoration: none;
    font-size: 2vh;
    color: #2F4F4F;
    line-height: 3vh;
}
.name{
    margin-left: 10vw;
    margin-top: 10vh;
    color: #2F4F4F;
    font-size: 15vh;
    
}
.details{
    margin-left: 10vw;
    margin-top: 5vh;
    margin-right: 10vw;
    color: #2F4F4F;
    font-size: 3vh;
    line-height: 7vh;
}
.skills{
    /* Hide overflow for smooth animation */
    white-space: nowrap; /* Prevent text from wrapping */
    width: 85vw; /* Full width container */
}

.skills pre {
    
    font-size: 5vh;
    font-weight: bold;
    display: inline-block; /* Display as inline block for animation */
    animation: slide 20s linear infinite; /* Animation properties */
}

@keyframes slide {
    0% { transform: translateX(100%); } /* Start position */
    100% { transform: translateX(-100%); } /* End position */
}
.sociallinks p{
    margin-left: 2vw;
}
.sociallinks a img{
    height: 8vh;
    width: 4vw;
    margin: 1vh;
    transition: transform 0.3s ease;
}

.sociallinks a:hover img {
    transform: scale(1.5);
}
#transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    pointer-events: none;
}

.strip {
    position: absolute;
    width: 33.33%;
    height: 100%;
    background-color: black;
    transform: translateY(-100%);
}

.strip:nth-child(2) {
    left: 33.33%;
}

.strip:nth-child(3) {
    left: 66.66%;
}

.strip:nth-child(1) {
    animation: stripDown 1s ease forwards;
}

.strip:nth-child(2) {
    animation: stripUp 1s ease forwards;
}

.strip:nth-child(3) {
    animation: stripDown 1s ease forwards;
}

@keyframes stripDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes stripUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}